<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057627763359-5hbgdegcitr3agqd1bgf7b26hqjrumge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057627763359-5hbgdegcitr3agqd1bgf7b26hqjrumge</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1057627763359-sd6nn3hbpnie0al2tak1j7gkmo9b06t1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZh3K80CVb0XkuqD6_fafnqNK4LBeNSyY</string>
	<key>GCM_SENDER_ID</key>
	<string>1057627763359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.legit9ja.app</string>
	<key>PROJECT_ID</key>
	<string>legit-app-56782</string>
	<key>STORAGE_BUCKET</key>
	<string>legit-app-56782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057627763359:ios:472c7c4365f72005c8a8aa</string>
	<key>DATABASE_URL</key>
	<string>https://legit-app-56782.firebaseio.com</string>
</dict>
</plist>